body{
margin: 5%;   
height: 100vh;
box-sizing: border-box;
background-color: black;
color: white;
 
}

strong{

    color: #22D4FD;
}

.Projeto{
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Projeto__conteudo{
width: 615px;
height: 482px;
}


