body{
background-color:black ;
color: white;
box-sizing: border-box;
height: 100vh;
margin: 0%;
padding: 0%;
}

strong{
    color: #22D4FD;
}

.apresentacao{
display: flex;
align-items: center;
}




